body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  border: 5px solid black;
}

#load-in-animation-outer {
  width: 350px;
  height: 350px;
  border: 5px solid black;
  border-radius: 60%;
  animation-name: start-up-circle;
  animation-duration: 4s;
  animation-direction: alternate;
}

#load-in-animation-inner {
  position: relative;
  width: 94%;
  height: 94%;
  top: 1.8%;
  left: 1.8%;
  border: 5px solid black;
  border-radius: 60%;
  background-color: white;
}

#main-splatter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("./images/splatter1-lg.png") no-repeat center;
  border: 5px solid black;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

@media (max-width: 1201px) {
  #load-in-animation-outer {
    width: 300px;
    height: 300px;
  }

  #main-splatter {
    background: url("./images/splatter1.png") no-repeat center;
  }
}
@media (max-width: 1024px) {
  #load-in-animation-outer {
    width: 250px;
    height: 250px;
  }

  #load-in-animation-inner {
    top: 1%;
    left: 1%;
  }

  #main-splatter {
    background: url("./images/splatter1-med1.png") no-repeat center;
  }
}
@media (max-width: 768px) {
  #load-in-animation-outer {
    width: 200px;
    height: 200px;
  }

  #load-in-animation-inner {
    top: 0.5%;
    left: 0.5%;
  }

  #main-splatter {
    background: url("./images/splatter1-med.png") no-repeat center;
  }
}
@media (max-width: 480px) {
  #load-in-animation-outer {
    width: 150px;
    height: 150px;
  }

  #load-in-animation-inner {
    top: 0.1%;
    left: 0.1%;
  }

  #main-splatter {
    background: url("./images/splatter1-sm.png") no-repeat center;
  }
}
@keyframes start-up-circle {
  1% {
    background: conic-gradient(orange calc(3.6 * 4deg), transparent calc((3.6 * 4deg) + 0.5deg) 100%);
  }
  2% {
    background: conic-gradient(orange calc(3.6 * 8deg), transparent calc((3.6 * 8deg) + 0.5deg) 100%);
  }
  3% {
    background: conic-gradient(orange calc(3.6 * 12deg), transparent calc((3.6 * 12deg) + 0.5deg) 100%);
  }
  4% {
    background: conic-gradient(orange calc(3.6 * 16deg), transparent calc((3.6 * 16deg) + 0.5deg) 100%);
  }
  5% {
    background: conic-gradient(orange calc(3.6 * 20deg), transparent calc((3.6 * 20deg) + 0.5deg) 100%);
  }
  6% {
    background: conic-gradient(orange calc(3.6 * 24deg), transparent calc((3.6 * 24deg) + 0.5deg) 100%);
  }
  7% {
    background: conic-gradient(orange calc(3.6 * 28deg), transparent calc((3.6 * 28deg) + 0.5deg) 100%);
  }
  8% {
    background: conic-gradient(orange calc(3.6 * 32deg), transparent calc((3.6 * 32deg) + 0.5deg) 100%);
  }
  9% {
    background: conic-gradient(orange calc(3.6 * 36deg), transparent calc((3.6 * 36deg) + 0.5deg) 100%);
  }
  10% {
    background: conic-gradient(orange calc(3.6 * 40deg), transparent calc((3.6 * 40deg) + 0.5deg) 100%);
  }
  11% {
    background: conic-gradient(orange calc(3.6 * 44deg), transparent calc((3.6 * 44deg) + 0.5deg) 100%);
  }
  12% {
    background: conic-gradient(orange calc(3.6 * 48deg), transparent calc((3.6 * 48deg) + 0.5deg) 100%);
  }
  13% {
    background: conic-gradient(orange calc(3.6 * 52deg), transparent calc((3.6 * 52deg) + 0.5deg) 100%);
  }
  14% {
    background: conic-gradient(orange calc(3.6 * 56deg), transparent calc((3.6 * 56deg) + 0.5deg) 100%);
  }
  15% {
    background: conic-gradient(orange calc(3.6 * 60deg), transparent calc((3.6 * 60deg) + 0.5deg) 100%);
  }
  16% {
    background: conic-gradient(orange calc(3.6 * 64deg), transparent calc((3.6 * 64deg) + 0.5deg) 100%);
  }
  17% {
    background: conic-gradient(orange calc(3.6 * 68deg), transparent calc((3.6 * 68deg) + 0.5deg) 100%);
  }
  18% {
    background: conic-gradient(orange calc(3.6 * 72deg), transparent calc((3.6 * 72deg) + 0.5deg) 100%);
  }
  19% {
    background: conic-gradient(orange calc(3.6 * 76deg), transparent calc((3.6 * 76deg) + 0.5deg) 100%);
  }
  20% {
    background: conic-gradient(orange calc(3.6 * 80deg), transparent calc((3.6 * 80deg) + 0.5deg) 100%);
  }
  21% {
    background: conic-gradient(orange calc(3.6 * 84deg), transparent calc((3.6 * 84deg) + 0.5deg) 100%);
  }
  22% {
    background: conic-gradient(orange calc(3.6 * 88deg), transparent calc((3.6 * 88deg) + 0.5deg) 100%);
  }
  23% {
    background: conic-gradient(orange calc(3.6 * 92deg), transparent calc((3.6 * 92deg) + 0.5deg) 100%);
  }
  24% {
    background: conic-gradient(orange calc(3.6 * 96deg), transparent calc((3.6 * 96deg) + 0.5deg) 100%);
  }
  25% {
    background: conic-gradient(orange calc(3.6 * 100deg), transparent calc((3.6 * 100deg) + 0.5deg) 100%);
  }
  26% {
    transform: scale(1) translateY(0);
  }
  30% {
    transform: scale(1.2, 0.6);
  }
  40% {
    transform: scale(0.8, 1.1) translateY(-250px);
  }
  50% {
    transform: scale(1.2, 0.6) translateY(90px);
  }
}

/*# sourceMappingURL=style.css.map */
